.container {
    max-width: 1200px;
    margin: 0;
    padding: 16px;
}

.pokemon-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    padding: 16px 0; 
}

.pokemon-card {
    background-color: aliceblue;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    flex: calc(33.33333% - 32px);
    min-width: 250px;
}

.pokemon-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    background: linear-gradient(135deg, #9ef7ffe2, #6fc1f788);
}

.pokemon-info {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon-name {
    font-size: 18pt;
    text-transform: capitalize;
    color: #666;
}

.pokemon-type {
    border-radius: 20px;
    padding: 10px 12px;
    font-size: 12px;
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
}

.type-electric {
    background: linear-gradient(135deg, #0087fc, #0099ff);
}

.type-grass {
    background: linear-gradient(135deg, #2aa511, #014e14);
}

.type-water {
    background: linear-gradient(135deg, #0041a3, #001455);
}

.type-normal {
    background-color: #666;
}

.type-ghost {
    background: linear-gradient(135deg,#6000ce,#1e0155);
}

.type-fire {
    background: linear-gradient(135deg, #c42801, #6e1a00);
}

.type-psychic {
    background: linear-gradient(135deg, #8fd3fa, #304553);
}

@media screen and (max-width: 900px) {
    .pokemon-card {
        flex: calc(50% - 32px);
        max-width: calc(50% - 32px);
    }
}

@media screen and (max-width: 548px) {
    .pokemon-card {
        flex: 100%;
        max-width: 100%;
    }
}