.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 24px;
}

.trainer-card {
    background-color: aliceblue;
    border-radius: 12px;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    flex: calc(50% - 20px);
    border: 1px solid rgba(0, 0, 0, 0.1);
    max-width: calc(50% - 20px);
    min-width: 250px;
}

.trainers-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 22px;
    padding: 22px 0;
}

.trainer-image {
    width: 100%;
    height: 250px;
    object-fit: contain;
    background: linear-gradient(135deg, #9ef7ffe2, #6fc1f788);
}

.trainer-info {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.trainer-name {
    font-size: 15pt;
    text-transform: capitalize;
    color: #272727;
}

.trainer-region {
    border-radius: 20px;
    padding: 10px 12px;
    font-size: 12px;
    text-transform: uppercase;
    color: #272727;
    font-weight: bold;
}

.trainer-badges {
    border-radius: 20px;
    padding: 10px 12px;
    font-size: 12px;
    text-transform: uppercase;
    color: #272727;
    font-weight: bold;
}

.trainer-status {
    border-radius: 20px;
    padding: 10px 12px;
    font-size: 12px;
    text-transform: uppercase;
    color: #272727 ;   
    font-weight: bold;
}

.status-active {
    background: linear-gradient(135deg, #28a745, #218838);
}

.status-champion {
    background: linear-gradient(135deg, #ffc107, #e0a800);
}

@media screen and (max-width: 600px) {
    .trainer-card {
        flex: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 900px) {
    .trainer-card {
        flex: calc(50% - 32px);
        max-width: calc(50% - 32px);
        margin: 0 auto;
    }
}